/* Reset some default styles for better consistency */
body, h1,h3,h2, p, ul, li {
    margin: 0;
    padding: 0;
}
h1{
    margin-top:40px;
}



/* Set a background color and font family for the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    position: relative;
    text-align: center;
    padding: 2.5% 5%;
    color: #FFFFFF;
}

/* Style the text elements in the header */
.header-content-h1 {
    font-size: 2.5em;
   

}

.header-content p {
    font-size: 1.125em;
}

/* Style the background image in the header */
#hero-img, #registration-img {
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Style for the logo container */
#logo-container {
    display: flex; /* Use flexbox for positioning */
    justify-content: center; /* Center the logo horizontally */
    align-items: center; /* Center the logo vertically */
    padding: 5% 5%;
}

/* Style for the logo image */
#logo-img {
    position: absolute;
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Ensure the logo is above the background image */
}


#logo-img-signup {
    position: absolute;
    top: 5%; /* Adjust the top position as needed */
    left: 5%; /* Adjust the left position as needed */
    width: 15%; /* Set the width to 'auto' to maintain the original image size */
    height: auto; /* Set the height to 'auto' to maintain the original image size */
    z-index: 1;
}




/* Call-to-Action Button Styles */
.cta-button-sign-up-button,
.cta-button-explore-games-button {
    background-color: #D1D2D2;
    color: #000000;
    text-decoration: none;
    padding: .625em 1.25em;
    font-weight: bold;
    border-radius: 5%;
    margin-top: 1.25em;
    margin-bottom: 2.25em;
    margin-right: 1.875em;
    display: inline-block;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.cta-button-sign-up-button:hover,
.cta-button-explore-games-button:hover {
    background-color: #9aa1a1;
}

/* Promo section styles */
#promo {
    text-align: center;
    color: #FFFFFF;
   
}

.promo-h2 {
    font-size: 2.5em;
    margin-bottom: 3%;
    margin-top: 5%;
}
/* Games section styles */




#about-us {
    text-align: justify;
    padding: 2%; /* Adjust the padding to reduce space */
    margin-top: 5%; /* Adjust the top margin as needed */
    background-color: #E3E3E3;
    color: black;
}


#about-us-h2 {
    font-size: 2.15em;
    margin-bottom: 3%;
    text-align: justify;
    
}

#about-us-h3 {
    font-size: 1.5em;
    margin-bottom: 5%;
    text-align: justify;
}
.about-us-p {
    max-width: 75%;
    text-align: justify;
    padding: .5%;
    margin-top: 1%;
    background-color: #E3E3E3;
    color: black;
    font-size: 1.125em;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#games {
    text-align: center;
    padding: 10%;
    margin-top: 0;
    background-color: black;
}

#games h2 {
    color: #FFFFFF;
    font-size: 2.5em; 
    margin-top: 0;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 15px; /* Adjust the gap between games */
    margin-top: 5px; /* Adjust the top margin as needed */
}


/* Game thumbnail styles */
/* Adjustments for game thumbnails */
.game-thumbnail {
    text-align: center;
    /*Backgroundcolorforgamethumbnails*/border-radius: 0.3125em;
    /*Convertedfrom5pxtoem*/box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.game-thumbnail img {
    max-width: 100%;
    border-radius: 5%;
    height: 60%;
    margin-top: 25%;
   
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.game-thumbnail h3 {
    font-size: 1.25em; 
    margin-top: 0.625em;
}

.game-thumbnail p {
    font-size: 1em; 
    margin-top: 2%;
}

.game-thumbnail a {
    background-color: #CD181E;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 5%;
    margin-bottom: 20%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Game thumbnail image hover effect */
.game-thumbnail img:hover {
    transform: scale(1.05); /* Increase the size of the image by 5% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition for the scaling effect */
}




.game-thumbnail a:hover {
    background-color: #050a30;
}

/* Sign-up section styles */
#signup {
    text-align: center;
    padding: 0;
    background-color: #000000;

}

#signup h2 {
    color: #FFFFFF;
    color: #FFFFFF;
    font-size: 1.5em; 
    margin-top: 0;
}

#signup p {
    color: #FFFFFF;
    font-size: 1.125em; 
    margin-top: 0;
}




#sign-up-page {
    text-align: justify;
    padding: 10%; 
    margin-top: 5%; 
    background-color: #000000;
    color: #FFFFFF;
}

#name, #email, #dob, #gaming-platform {
    text-align: justify;
    padding: .5%;
    margin: 10%;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

hr {
    border: none;
    border-top: 1px solid #d1d2d2; /* Customize the line color and style */
    margin: 0 0; /* Adjust the margin as needed to control spacing */
   
}

#contact{
    text-align: left;
    padding: 1% 5%;
    background-color: #000000;
    color: #D1D2D2;
    
}

/* Footer styles */
footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 0;
}

#logo-img-contact{
    position: relative;
    left: 90%; /* Adjust the left position as needed */
    width: 12%; /* Set the width to 'auto' to maintain the original image size */
    height: auto; /* Set the height to 'auto' to maintain the original image size */
    z-index: 1;
}



/* Media Queries */
@media (max-width: 360px) {
    /* Adjust the overall padding for better spacing on smaller screens */
    body#sign-up-page {
        padding: 2% 5%;
    }

    #logo-img-signup {
        max-width: 10%;
    }

}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    /* Adjustments for mobile devices */
    body, h1, h2, h3, p, ul, li {
        margin: 0;
        padding: 0;
    }
    /* Example: Adjust the header padding for smaller screens */
    header {
        padding: 1.5% 3%; /* Adjusted padding for smaller screens */
    }
    

    /* Example: Adjust the font size of the header content for smaller screens */
    .header-content-h1 {
        font-size: .5em; /* Adjusted font size for smaller screens */
    }
    

    #logo-img {
        display: none;
       
    }
    .game-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
        gap: 1.875em; /* Adjust the gap between games */
        margin-top: 5px; /
    }
    #hero-img {
        width: 100%;
        height: 150vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #logo-img-contact{
        position: relative;
        left: 35%; /* Adjust the left position as needed */
        width: 20vh; /* Set the width to 'auto' to maintain the original image size */
        height: auto; /* Set the height to 'auto' to maintain the original image size */
        z-index: 1;
    }
   
    /* Apply these styles to screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    /* Adjust the overall padding for better spacing on smaller screens */
    body#sign-up-page {
        padding: 2% 5%;
    }

    /* Center-align the images and form elements */
    #registration-img,
    #logo-img-signup,
    h1,
    form {
        text-align: center;
    }

    /* Increase spacing between form elements */
    form label,
    form input,
    form select,
    form input[type="submit"] {
        margin-bottom: 10px;
    
       
    }

    body#sign-up-page {
        padding: 5% 10%;
    }

    /* Increase the size of the logo for better visibility on larger screens */
    #logo-img-signup {
        max-width: 15%;
    }

    /* Increase the width of the form for better readability on larger screens */
    form {
        max-width: 50%;
        margin: 0 auto; /* Center-align the form */
    }

    #registration-img{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}


    /* Add more responsive adjustments for mobile devices */
}

/* Media query for screens with a maximum width of 1024px (typical for tablets) */
@media (max-width: 1024px) {
    /* Adjustments for tablets */

    /* Example: Adjust the header padding for tablets */
    header {
        padding: 2% 4%; /* Adjusted padding for tablets */
    }
    

    /* Example: Adjust the font size of the header content for tablets */
    .header-content-h1 {
        font-size: 2.25em; /* Adjusted font size for tablets */
    }
    #logo-img {
        top: 10px; /* Adjusted for better spacing */
        bottom: 10px;
        right: 10px; /* Adjusted for better spacing */
        max-width: 10%; /* Adjust the maximum width as needed */
    }
    
}


    /* Add more responsive adjustments for tablets */


/* Media query for screens with a minimum width of 1200px (typical for desktops) */
@media (min-width: 1200px) {
    /* Adjustments for desktops */

    /* Example: Adjust the header padding for desktops */
    header {
        padding: 3% 6%; /* Adjusted padding for desktops */
    }
    

    /* Example: Adjust the font size of the header content for desktops */
    .header-content h1 {
        font-size: 3em;
        /* Adjusted font size for desktops */
    }
    #logo-img {
        top: 12px; /* Adjusted for better spacing */
        right: 12px; 
        bottom: 12px;/* Adjusted for better spacing */
        max-width: 15%; /* Adjust the maximum width as needed */
    }

    

    /* Add more responsive adjustments for desktops */
}





